
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditExamScheError</title>
</head>
<body>
    <div> 
        <b>Exam schedule manage failed.</b>
        One of many resones can be:
        <li> There is another exam in choosen date</li>
        <li>Choosen Date for Moed B  is earlier than Moed A</li>
    </div>
</body>
</html>
