
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorUpdateGrades</title>
</head>
<body>
    <div>
        <b>Update grades failed</b>
        One of many reasons could be:
        <li> Invalid value entered in grade field </li>
        <li> The student selected is not assign to this course</li>
        <li> The student selected is not assign to this course</li>
        <li> The test of the selected course isn't done yet</li>
    </div>
</body>
</html>
