
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration Failed</title>
</head>
<body>
    <div>
        <h1> Rgistration Failed </h1>
    </div>
    <div>
        <b> One Of Many Reasons Can Be:</b>
        <li> Student already assign to this course </li>
        <li> Student assign to another course in these times.</li>
    </div>
