
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateScheFailed</title>
</head>
<body>
    <div> 
        Schedule Update Failed, there is a cours in choosen time. 
    </div>
</body>
</html>
