@inherits System.Web.Mvc.ViewStartPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Welcome</title>
    <link href="~/styles/bootstrap.css" rel="stylesheet" />
    <link
    <link href="~/styles/touchTouch.css" rel="stylesheet" />href="~/styles/style.css" rel="stylesheet" />

</head>

<body>


    <div>


    </div>
</body>


</html>