

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
</head>


<body>
        <div>
            <form action="Submit" method="post">
                First Name = <input id="Text1" name="FirstName" type="text" />
                <br />
                ID = <input id="Text1" name="UserID" type="text" />
                <br />
                Password = <input id="Text1" name="Password" type="text" />
                <br />
                <input id="Submit1" type="submit" value="Submit" />
            </form>


        </div>
    </body>
    <style>
        body {
            background: url(../images/5.jpg)no-repeat;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            background-attachment: fixed;
            background-position: center;
            font-family: 'Open Sans', sans-serif;
            height: 100vh;
        }
    </style>
    </html>

