@model Project.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserPage</title>
</head>
<body>
    <div> 
        First Name: @Model.FirstName
        <br />
        Last Name: @Model.LastName
        <br />
        User ID: @Model.UserID
        <br />
        Password: @Model.Password
        <br />
    </div>
</body>
</html>
