@using Project.Models

@{
    ViewBag.Title = "Choose_Course";
}

<h2>Choose course to watch list of students</h2>

<div><b>Choose course to watch list of students</b><br /></div>


<form method="post" action="enter" onsubmit="SetData()">
    <select name="courseId" id="courseId">
        @foreach (CourseModel obj in ViewBag.ReleventCourses)
        {
            <option value=@obj.CourseID>@obj.CourseID</option>
        }
    </select>
    <input type="submit" value="Watch Students" />
</form>