
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update Failed</title>
</head>
<body>
    <div> 
        <h1> Failed To Update Grades </h1>
    </div>
    <div>
        <b> One Of Many Reasons Can Be:</b>
        <li> There is no estimated date for the above exam in exam scheudle </li>
        <li> You cannot enter a grade because the exam has not yet been completed</li>
    </div>
