
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GradesUpdatedSuccessfully</title>
</head>
<body>
    <div>
        GradesUpdatedSuccessfully
    </div>
</body>
</html>
