
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>First_Student_Page</title>
</head>
    <div> 
        <select id="Select1">
            <option></option>
            <input id="Exam_Test" type="submit" value="Exam_Test" />
        </select>
    </div>
</body>
</html>
